@import '~purecss/build/pure.css';
$white:#E3E2E2;
$light: #CCCBCB;
$medium: #696B6B;
$dark: #403F40;
$black: #262626;
$red: #AF3245;
$pink: #FF5672;
$green: #C6ED68;
$blue: #A1E8E5;
body {
    background-color: $black;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}

button {
    margin-right: 15px;
}

.page-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
}

.page-body {
    position: relative;
    top: 30px;
}

.main-content {
    margin: auto;
    max-width: 1080px;
    min-width: 600px;
}

.page-header {
    width: 100%;
    top: 0;
    position: absolute;
    height: 25px;
}

.nav-routes {
    background: #111111;
    color: $light;
    height: 25px;
    #routes {
        height: 25px;
        margin: auto;
        padding-inline-start: 10px;
        display: inline-block;
        vertical-align: bottom;
        .route {
            padding-top: 2px;
            display: inline-block;
            vertical-align: bottom;
            font-size: 16px;
            height: 25px;
            margin-right: 12px;
            cursor: pointer;
            &:hover {
                background: $dark;
            }
        }
    }
}

#login-section {
    margin: 100px auto;
    width: 300px;
    height: 200px; // background: $dark;
    // border: black solid 1px;
    text-align: center;
    color: $light;
    border-radius: 5px;
    #login-inner {
        margin: 15px;
        margin-top: 25px;
        padding: 10px;

    }
}
input {
    margin: auto;
    width: 250px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    margin: 5px 0 5px 0;
    background: $dark;
    border: none;
    color: $light;
}
button {
    margin: auto;
    margin-top: 25px;
    background: $dark;
    border-radius: 5px;
    color: $light;
    font-size: 1.1em;
    font-weight: 700;
    border-style: none;
    border: none;
    border-color: $medium;
    width: 150px;
    height: 35px;
    text-align: center;
}
#library-books {
    .book-table {
        background: $medium;
        color: $light;
        width: 100%;
        table-layout: fixed;
        font-size: 12px;
        thead {
            background: #111111;
            tr {
                height: 30px;
                th {
                    text-align: center;
                    border-right: solid 1px #403F40;
                    &:last-of-type {
                        border-right: none;
                    }
                }
            }
        }
        tbody {
            tr {
                width: 100%;
                border-bottom: solid 1px #403F40;
                &:last-of-type {
                    border-bottom: none;
                }
                td {
                    text-align: center;
                    height: 30px;
                    border-right: solid 1px $black;
                    &:last-of-type {
                        border-right: none;
                    }
                }
            }
        }
        .scrollable-table {
            max-height: 200px;
            overflow-y: auto;
            width: 100%;
        }
    }
}

#config-section {
    width: 800px;
    margin: auto;
    background: #111111;
    color: #CCCBCB;
    padding-bottom: 20px;

    .config-values {
        padding-top: 20px;

        table {
            margin: auto;
            width: 600px;
        }
    }
    .config-dirs{
        padding-top: 10px;
        width: 600px;
        margin: auto;
    }
}

.hidden {
    display: none;
}
#playback-section{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111111;
  #player{
    margin: auto;
    max-width:1080px;
  }
}
#audio{
  width: 100%;
}
