@import '~purecss/build/pure.css';
$mid-blue: #2D344D;	// Main Primary color */
$light-blue: #808698;
$midlight-blue: #4F5772;
$middark-blue: #172040;
$dark-blue: #030A20;

$mid-red: #71443C;	// Main Secondary color (1) */
$light-red: #E1BFB9;
$midlight-red: #A9776E;
$middark-red: #5F251A;
$dark-red: #300700;

$mid-green: #2C5339;	// Main Secondary color (2) */
$light-greend: #88A591;
$midlight-green: #507C5F;
$middark-green: #134524;
$dark-green: #00230C;

$mid-yellow: #71613C;	// Main Complement color */
$light-yellow: #E1D5B9;
$midlight-yellow: #A9966E;
$light-yellow: #5F491A;
$dark-yellow: #302100;
body {
    background-color: $dark-blue;
    margin-top: 20px;
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}
button {
    margin-right: 15px;
}

.page-wrapper{

    .page-body{
        margin: auto;
        max-width: 1080px;
        min-width: 600px;
    }
}

#login-section{
    margin: 50px auto;
        width: 300px;
        height: 200px;
    background: $mid-blue;
    border: black solid 1px;
    text-align: center;
    text-shadow:
		-1px -1px 0 $middark-blue,
		1px -1px 0 $middark-blue,
		-1px 1px 0 $middark-blue,
		1px 1px 0 $middark-blue;
    color: $light-blue;
    border-radius: 5px;
    #login-inner{
        margin: 15px;
        padding: 10px;
        input{
            margin: auto;
             width: 80%;
            text-align: center;
            font-weight: bold;
            margin: 5px 0 5px 0;
            background: $light-blue;
            border: none;
            color: $middark-blue;
        }
        button{
            margin: auto;
            margin-top: 15px;
            background: $light-blue;
            border-radius: 5px;
            color: $middark-blue;
            font-size: 1.1em;
            font-weight: 700;
            border-style: none;
            border: none;
            border-color: $mid-blue;
            width: 100px;
            height: 25px;

        }
    }
}
#library-books{
    background: $middark-blue;
    color: $light-blue;
    .book-table{
        width: 500px;
        tr{
            width: 100%;
        }
        td{
            width: 50px;
        }
        .scrollable-table{
            display: block;
            height: 200px;
            overflow: auto;
            width: 100%;
        }
    }
}